<!DOCTYPE html>
<html lang="en">
<%- include('./patials/head.ejs')%>
<body>
<%- include('./patials/nav.ejs')%>
<div class="container" >
<form class="row g-3">
  <div class="col-md-6">
    <label for="inputEmail4" class="form-label">Title</label>
    <input type="email" class="form-control" id="inputEmail4" class="title">
  </div>
  <div class="col-md-6">
    <label for="inputPassword4" class="form-label">Password</label>
    <textarea class="form-control" class="snippet">

    </textarea>
    <br>
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Create</button>
  </div>
</form>

  <table class="table table-dark table-hover">
    <thead>
    <tr>
      <th scope="col">TITLE</th>
      <th scope="col">SNIPPET</th>
    </tr>
    </thead>
    <% if (blogs.length > 0) { %>
      <% blogs.forEach(blog => { %>
        <tbody>
        <tr>
          <td class="title"><%= blog.title %></td>
          <td class="snippet"><%= blog.snippet %></td>
        </tr>
        </tbody>
      <%})%>

    <% } else {%>
      <h2>No blogs to display</h2>
    <%}%>
  </table>
<%- include('./patials/footer.ejs')%>
</div>
</body>
</html>