<!DOCTYPE html>
<html lang="en">
<%- include('./patials/head.ejs')%>
<body style=" text-align: center">
<div class="container-fluid" >
<%- include('./patials/nav.ejs')%>
<a href="about.html"></a>
</div>

    <table class="table table-dark table-hover">
        <thead>
        <tr>
            <th scope="col">TITLE</th>
            <th scope="col">SNIPPET</th>
            <th scope="col">BODY</th>
        </tr>
        </thead>
         <% if (blogs.length > 0) { %>
                <% blogs.forEach(blog => { %>
                    <tbody>
                    <tr>
                        <td class="title"><%= blog.title %></td>
                        <td class="snippet"><%= blog.snippet %></td>
                        <td class="snippet"><%= blog.body %></td>
                    </tr>
                    </tbody>
                <%})%>

         <% } else {%>
            <h2>No blogs to display</h2>
         <%}%>
    </table>
<%- include('./patials/footer.ejs')%>
</body>
</html>